.pokemonGrid {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    column-gap: 36px;
    row-gap: 64px;
    margin-inline: max(32px, calc((100vw - 1200px)/2));
}
